<script type="text/javascript" src="js/school.js"></script>
<link rel="stylesheet" type="text/css" href="css/school.css"/>


<table id="school"></table>

<div id="school_tool" style="padding:5px;">
    <div style="margin-bottom:5px;">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="school_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="school_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="school_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" id="redo" onclick="school_tool.redo();">取消编辑</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="school_tool.reload();">查询</a>
    </div>
</div>

<form id="school_add" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <p>学校名称：<input id= "school_add_name" type="text" name="school" class="textbox" style="width:200px;"/></p>
</form>


<form id="school_edit" style="margin:0;padding:5px 0 0 25px;color:#333;">
    <input type="hidden" name="id" class="textbox" style="width:200px;"/>
    <p>学校名称：<input type="text" name= "name"  class="textbox" style="width:200px;"/></p>
</form>
